@font-face {
  font-family: 'Space Grotesk Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/space-grotesk:vf@latest/latin-wght-normal.woff2)
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Space Grotesk Variable', sans-serif;
}

input[type='checkbox'] {
  --width: 52px;
  --height: 28px;
  --padding: 4px;
  --border-radius: 999px;

  --thumb-size: calc(var(--height) - var(--padding) * 2);
  --thumb-end: calc(var(--width) - var(--thumb-size) - var(--padding));
  --thumb-stretch: calc(var(--width) - var(--padding) * 2);

  min-width: var(--width);
  height: var(--height);
  appearance: none;
  outline: 0;
  position: relative;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: #ddd;
    border-radius: var(--border-radius);
    transition: background 0.3s;
  }

  &::after {
    content: '';
    position: absolute;
    top: var(--padding);
    left: var(--padding);
    width: var(--thumb-size);
    height: var(--thumb-size);
    background: #fff;
    border-radius: var(--border-radius);
    animation: unchecked 0.5s ease forwards;
  }

  &:checked::before {
    background: #222;
  }

  &:checked::after {
    animation: checked 0.5s ease forwards;
  }
}

@keyframes checked {
  0% {
    left: var(--padding);
    width: var(--thumb-size);
  }

  50% {
    left: var(--padding);
    width: var(--thumb-stretch);
  }

  100% {
    left: var(--thumb-end);
    width: var(--thumb-size);
  }
}

@keyframes unchecked {
  0% {
    left: var(--thumb-end);
    width: var(--thumb-size);
  }

  50% {
    left: var(--padding);
    width: var(--thumb-stretch);
  }

  100% {
    left: var(--padding);
    width: var(--thumb-size);
  }
}
